<!DOCTYPE html>
<html>
	<head>
		<title><%= __title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<%- __stylesheet_tags %>
		<%- __javascript_tags %>
	</head>
	<body>
		<header class="page-header">

		</header>
		<%- include(__yield) %>
	</body>
</html>